body {
    margin: 0;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1; /* Para garantir que o vídeo fique atrás de todo o conteúdo */
    width: 100%;
}

.content {
    position: relative; /* Para manter o conteúdo acima do vídeo */
    z-index: 1; /* Para garantir que o conteúdo fique na frente do vídeo */
    padding: 20px;
   
   
}   

   
   .welcome {

        color: white;
        background-color: black;
        padding: 10px;
        display: flex;
        justify-content: center; 
        border-radius: 5px;
        font: bold 2em 'Garamond';
        text-transform: uppercase; 
        border: double; 

       
        box-shadow: inset 0 0 30px rgb(53, 220, 226);  /* bruno mudei aqui */
        text-shadow: 0 0 10px rgb(195, 0, 255);/* bruno mudei aqui */
        
        
        
    }

    .welcome::before, .welcome::after {
        content:'';
        position: absolute;
        z-index: -1;
        width: calc(98% + 20px);
        height: calc(10% + 2px);
        background: linear-gradient(50deg,#4deeea,#74ee15,#ffff00,#f000ff,#001eff);
        background-size: 300%;
        border-radius: 5px;
        background-repeat: no-repeat;
        animation: AnimarBorda 2s linear alternate infinite;
    
    }

    .welcome::after {
        filter: blur(80px);
    }

    @keyframes AnimarBorda {
        0% {
            background-position: 0;
        }
        100%{
            background-position: 100%;
        }
    }

    /*BARRA DE FERRAMENTAS*/
        
        :root {
            --cor-fundo: rgb(34,41,37); 
            --cor-hover: #ff22ff;
            --cor-primaria: #f0ff22; 
        }
        
    .toolbar ul {
        list-style-type: none;
        padding: 10px;
        text-align: center;
        border: double;
        border-color: white;

        
        box-shadow: inset 0 0 20px rgb(171, 53, 226); /* bruno mudei aqui */
        

    }



    .toolbar ul {
        background-color: var(--cor-fundo);
    
    }

    .toolbar ul li {
        display: inline;
        position: relative;
        
    }

    .toolbar ul li a{
        color: var(--cor-primaria);
        text-decoration: none;
        padding: 5px;
        
    }

    .toolbar ul li a:hover{
        background-color: var(--cor-hover);
        
    }

    /*sub-menu*/

    .toolbar ul ul {
        display: none;
        left: 0;
        position: absolute;

    }

    .toolbar ul li:hover ul {
        display: block;
    }

    .toolbar ul ul {
        width: 110px;
    }

    .toolbar ul ul li a {
        display: block;
    }

    /*------------------------------------------------*/



    .textoboasvindas {
        
        width: 500px;
        color: white;
        text-shadow: rgb(7, 7, 7) .1em 0.2em 0.2em;
        font: bold 1em Arial, Helvetica, sans-serif;
        
        
    }

    .filmes80 {
        text-align: center;
        font: bold 1em 'Goudy Old Style';
        text-transform: uppercase;
    }


    .listadefilmes {
        color: yellow; text-shadow: black 0.1em 0.1em 0.2em;
        column-count: 4;
        column-gap: 3rem;
        font-size: smaller;
        padding:40px;
        background-size: 130%;
        width: 91%;
        
        
    }

    .listadefilmes img {
        width: 85px;
        
        
        
    }

    .listadefilmes a {
        text-transform: uppercase;
    }


    .titulodofilme {
        text-align: center;
    }

    .capadosfilmes {
        padding: 80px;
        text-align: justify;

    }

    .capadosfilmes ul {

            display: inline-block;
            vertical-align: top;
            width: 35%;
            margin-right:15%;
            text-align: justify;
    }


    /*aqui começa o menu do index*/

    .post-item {
        
        padding: 10px;
        display: inline;
        
    }

    
    .post-item .content {
        padding: 15px;
        display: inline-block;
    }
    
    .post-item .content h3 a {
        color: #000;
    }
    
    .post-item .content p {
        color: #d1f504;
        font-size: 14px;
        margin: 10px 0;
    }
    
    .post-item .content .btn-main {
        padding: 12px 25px;
        margin: 15px 0;
        
    }
    

    

    .btn-main {
        background: #5e9900;
        border: 1px solid #5e9900;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 12px 40px;
        text-transform: uppercase;
        border-radius: 40px;
        border-color: #fff;
    }
    
    .btn-main:hover {
        color: #fff;
    }
    
    .btn-transparent {
        color: #fff;
        border: 1px solid #fff;
        display: inline-block;
        font-size: 13px;
        letter-spacing: 1px;
        padding: 14px 35px;
        text-transform: uppercase;
        border-radius: 40px;
    }
    
    .btn-transparent:hover {
        color: #fff;
    }

    .widget-post-image img {
        height: 90px;
        width: auto;
        display: inline-block;
        margin-right: 10px;
    }

    .img-fluid{
        width: 300px;
        border-style: double;
        border-color: #ffc722;
        justify-content:left;
        
    }  
        
  
/* bruno mudei aqui */

#animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.sword {
    position: absolute;
    width: 100px;
    transition: transform 10s;
}

#sword-left {
    left: -150px;
    transform: rotate(90deg);
}

#sword-right {
    right: -150px;
    transform: rotate(-90deg);
    z-index: 4;
}

#animation-container.show {
    opacity: 1;
}

#animation-container.show #sword-left {
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

#animation-container.show #sword-right {
    right: 50%;
    transform: translateX(50%) rotate(-45deg);
}



